@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

section {
    padding-top: 13%;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 0% 25% 10% 25%;
}

a {
    text-decoration: none;
    color: inherit;
    /* This will inherit the color from the parent element */
}

.animate {
    opacity: 0;
}

.fade-right {
    animation: fadeRight 700ms ease-in-out forwards;
}

.fade-left {
    animation: fadeLeft 700ms ease-in-out forwards;
}

.fade-up {
    animation: fadeUp 700ms ease-in-out forwards;
}

@keyframes fadeRight {
    0% {
        opacity: 0;
        transform: translateX(-120px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translateX(120px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.top-navbar {
    padding: 2% 25% 0% 25%;
}

.nav-link {
    font-weight: 500;
}

.nav-link:hover {
    color: rgb(38, 134, 193);
}

.wrapper {
    padding-top: 5%;
    display: flex;
    align-items: flex-start;
}

.social_icons {
    padding-left: 10%;
    padding-right: 500%;
    margin-top: 30%;
    font-size: 200%;
    justify-content: center;
}

.social_icons:hover {
    color: rgb(38, 134, 193);
}

.profile-image {
    margin-left: 30%;
    width: 50%;
    border-radius: 10%;
    transition: border-radius 0.3s ease;
}

.profile-image:hover {
    border-radius: 5%;
}

/* Cursor */
.typed-cursor {
    color: rgb(38, 134, 193);
}


.skill-card {
    max-width: 30%;
}

.program-image {
    max-height: 50px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
    /* Set the height of the container, adjust as needed */
}

.about-image {
    max-width: 40%;
    /* Ensure the image doesn't exceed its container */
    max-height: 40%;
    /* Ensure the image doesn't exceed its container */
}



#short_description {
    text-align: justify;
}

.certificate-card {
    max-width: 50%;
}

.link-certi {
    max-width: 50%;
}

.card-title {
    padding-top: 3%;
    font-size: 100%;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline>li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid rgb(38, 134, 193);
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.project-prog-image {
    width: 5%;
    margin-right: 4%;
}


#project-list {
    padding-left: 10%;
    padding-right: 10%;
}

.carousel-control-prev {
    margin-left: -25px;
}

.carousel-control-next {
    margin-right: -25px;
}

.project-image {
    height: 70%;
}

@media(max-width: 600px) {
    body {
        padding: 10% 4% 4% 4%;
    }

    .top-navbar {
        padding: 3% 3% 3% 3%;
        padding-left: 5%;
    }

    .nav-link {
        font-weight: 500;
    }

    .offcanvas {
        max-width: 50%;
    }

    .social_icons {
        padding-left: 10%;
        margin-top: 30%;
        font-size: 200%;
        justify-content: center;
    }



    .wrapper {
        padding-top: 5%;
        display: flex;
        align-items: flex-start;
    }

    .socials {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 20px;
        /* Adjust the margin as needed */
    }

    #my-name {
        padding-top: 10%;
    }



    .skill-card {
        max-width: 50%;
    }

    .program-image {
        max-height: 50px;
    }

    a {
        text-decoration: none;
        color: inherit;
        /* This will inherit the color from the parent element */
    }

    .profile-image {
        margin-left: 14%;
        width: 60%;
        border-radius: 10%;
        transition: border-radius 0.3s ease;
    }

    .profile-image:hover {
        border-radius: 5%;
    }

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 4%;
        /* Set the height of the container, adjust as needed */
    }

    .about-image {
        max-width: 60%;
        /* Ensure the image doesn't exceed its container */
        max-height: 60%;
        /* Ensure the image doesn't exceed its container */
    }

    #short_description {
        text-align: justify;
    }




    .certificate-card {
        max-width: 50%;
    }

    .link-certi {
        max-width: 50%;
    }

    .card-title {
        font-size: 100%;
    }



    .project-prog-image {
        width: 10%;
        margin-right: 4%;
    }


    #project-list {
        padding-left: 10%;
        padding-right: 10%;
    }

    .carousel-control-prev {
        margin-left: -25px;
    }

    .carousel-control-next {
        margin-right: -25px;
    }

    .project-image {
        height: 70%;
    }
}

@media(max-width: 400px) {
    h1 {
        font-size: 160%;
    }

    .skill-card {
        max-width: 50%;
    }


}